<footer class="footer bg-dark py-3 mt-auto">
  <div class="container d-flex justify-content-between">
    <span class="text-muted">&copy; YelpCamp 2024</span>
    <span style="color: whitesmoke">Created by Bharath Raj</span>
  </div>
</footer>
